#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(30, 30, 30);
}

.h-256 {
  height: 256px;
}

.bg-primary {
  background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
}
